{{ define "main" }}

{{ partial "page-title.html" . }}



<section class="about section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="about-img">
          <img class="img-responsive about-img" src="{{ .Params.Image }}">
        </div>
      </div>
      <div class="col-md-6 ml-2">
        <h2 class="mt-40">{{ .Params.Titre }}</h2>
        <h5>
        </br>
        </br>
          {{ .Params.Content }}
        </br>
        </br>
        {{ .Params.Content2 }}
        </br>
        </br>
        {{ .Params.Content3 }}
        </br>
        </br>
        {{ .Params.Content4 }}
        </br>
        </br>
        {{ .Params.Content5 }}
        </br>
        </br>
        {{ .Params.Content6 }}
      </br>
      </br>
        {{ .Params.Content7 }}</h5>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
 <iframe id="haWidget" allowtransparency="true" scrolling="auto" src="https://www.helloasso.com/associations/my-harmony/formulaires/2/widget" style="width:100%;height:750px;border:none;"></iframe>
</div>
</section>

<section class="page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-4 sticky-top">
        <h2>LES VIOLENCES CONJUGALES</h2>
      </div>
      <div class="col-md-8">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>




<!-- Call to action -->

{{ partial "cta.html" . }}

<!-- /Call to action -->

{{ end }}
