<!-- Pop-up -->
<div id="popup" class="modal">
       <div class="modal-dialog modal-dialog-centered  ">
                <div class="modal-content section-modal">
                  <button type="button" class="close light" data-dismiss="modal"
                          aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                 <div class="modal-header text-center">
                      <h2 style="color:white"> Victimes de violences conjugales ?</h2>
                       </div>
                    <div class="modal-body text-center">
                      <p style="color:white"> Les professionnels sont mobilisés pour vous aider
                      39 19 N° anonyme et gratuit</p>
<p style="color:white">
Si vous ne pouvez pas parler composez un SMS au 114 ou rendez-vous au comptoir d'une pharmacie et annoncez "masque 19".</p>
                      <p style="color:white">
                      Nous écrire Associationmyharmony@gmail.com ou par le formulaire de contact.
                      </p>
                       </div>
                    <div class="modal-footer">
                      <p style="color:white"> Brisez le silence..</p>
                       </div>

                </div>
       </div>
</div>
